@import 'dialog.css';

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: sans-serif;
}
#top-row {
  display: flex;
}
#controls {
  border: 1px solid #999;
  margin: 10px;
  padding: 10px;
}
#settings {
  border: 1px solid #999;
  margin: 10px;
  padding: 10px;
}
#settings > div {
  display: flex;
}
#settings label {
  display: block;
  width: 120px;
}
#settings input {
  text-align: right;
  width: 50px;
}
#paths {
  padding: 10px;
}
.dirs {
  width: 80%;
}
.dirs__label {
  display: inline-block;
}
.dirs__label:first-letter {
  text-transform: capitalize;
}
.dirs__add {
  float: right;
}
.dirs__list {
  width: 100%;
}
.dirs__list td:nth-of-type(2),
.dirs__list td:nth-of-type(3) {
  width: 70px;
}
.dir__path {
  width: 100%;
}
table {
  border: none; /* 1px solid #999; */
}
th {
  background-color: #ccc;
  font-weight: normal;
  padding: 5px 10px;
  text-align: left;
}
td {
  background-color: #eee;
  border: none; /* 1px solid #999; */
  padding: 5px 10px;
  text-align: left;
}
td input[type='text'] {
  border: none;
}
td .dir__delete {
  border: none;
}
